<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
    <nav class="navbar bg-primary d-flex justify-content-between align-items-center flex-column-sm">
      <h1 class="logo"><a href="index.html" class="text-hide">眼鏡電商</a></h1>
      <ul class="navbar-menu d-flex flex-wrap-sm">
        <li class="navbar-menu-item"><a href="#" class=" text-light font-weight-blod ">系列鏡框</a></li>
        <li class="navbar-menu-item"><a href="#" class=" text-light font-weight-blod ">門市據點</a></li>
        <li class="navbar-menu-item"><a href="#" class=" text-light font-weight-blod ">部落格</a></li>
        <li class="navbar-menu-item"><a href="faq.html" class=" text-light font-weight-blod ">常見問題</a></li>
      </ul>
    </nav>
  <%- contents %>

  <footer class="footer bg-primary  pt-8  ">
    <div class="container">
      <div class="contacts d-flex  justify-content-between mb-5">
        <div class="contacts-group ">
            <ul class="contacts-menu d-flex">
                <li class="contacts-menu-item"><a href="index.html" class="contacts-menu-link text-light font-weight-blod pr-8">首頁</a></li>
                <li class="contacts-menu-item"><a href="#" class="contacts-menu-link text-light font-weight-blod pr-8">系列鏡框</a></li>
                <li class="contacts-menu-item"><a href="#" class="contacts-menu-link text-light font-weight-blod pr-8">門市據點</a></li>
                <li class="contacts-menu-item"><a href="#" class="contacts-menu-link text-light font-weight-blod pr-8">部落格</a></li>
                <li class="contacts-menu-item"><a href="faq.html" class="contacts-menu-link text-light font-weight-blod">常見問題</a></li>
            </ul>
            <p class="contacts-tel text-light   ">0800-000-000</p>
            <p class="contacts-mail text-light  ">glasses@business.com</p>
        </div>
        <ul class="icon d-flex">
            <li class="icon-item"><a href="#" class="icon-fb text-hide bg-cover mr-5-md mr-7 ">face</a></li>
            <li class="icon-item"><a href="#" class="icon-ig text-hide bg-cover mr-5-md mr-7 ">IG</a></li>
            <li class="icon-item"><a href="#" class="icon-line text-hide bg-cover ">Line</a></li>
        </ul>
    </div>
    <div class="statement d-flex align-items-center flex-column-sm ">
            <a href="#" class="footer-logo text-hide">六角眼鏡行</a>
            <span class="statement-span text-light">Copyright © 2020 Glasses.All rights reserved.</span>
        <ul class="statement-list d-flex  flex-column-sm ">
            <li class="statement-list-item text-light">隱私權政策</li>
            <li class="statement-list-item text-light">服務條款</li>
        </ul>
    </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
