/*字型大小設定*/
.font-size-md{
    font-size: 1rem * 0.875;//14px
}
.font-size-sm{
    font-size: 1rem * 0.75;//12px
}
h1,.h1{
    font-size: 1rem * 4;//64px
}
h2,.h2{
    font-size: 1rem * 3;//48px
}
h3,.h3{
    font-size: 1rem * 1.75;//28px
}
h4,.h4{
    font-size: 1rem * 1.5;//24px
}
h5,.h5{
    font-size: 1rem * 1.24;//20px
}
h6,.h6{
    font-size: 1rem ;//16px
}
/*font-size-end*/